body {
    margin: 0px;
    font-family: Gill Sans Extrabold, sans-serif;
}
.headerText {
    padding: 0.6em;
    color: #EEEEEE;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    float: right;
}
.headerLogo {
    padding: 0.6em;
    color: #EEEEEE;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
a {
    text-decoration: none;
    text-shadow: 0px 0px 0px #000000;
    
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    transition: 400ms;
}
a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 30px #EEEEEE;
    background-color: #A0A0A0;
    
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    transition: 400ms;
}
A:link, A:visited {
    text-decoration: none;
    text-shadow: 0px 0px 0px #000000;
    
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    transition: 400ms;
    
    color: white;
}
#header {
    position: fixed;
    top: 0px;
    width: 100%;
    
    background-color: #444444;
}
#footer {
    height: 10px;
    position:fixed;
    bottom:0;
    background-color: #444444;
}

#content {
    float : left;
    width: 100%;
    height: 100%;
    margin-top: 2.2em;
    background-color: #DDDDDD;
}
#article {
    max-width: 800px;
    margin: auto;
}
#navbar {
    float: left;
    width: 30%;
    max-width: 300;
    height: 100%;
    background-color: #888888;
}
#navbarContent {
    position: fixed;
}
#articleList {
    float: right;
    width: 70%;
    background-color: #AAAAAA;
    padding: 20px;
}
#footer {
    float: left;
    position: relative;
    height: 10px;
    width: 100%;
    background-color: #444444;
}
#parentsCategory{
    float: left;
    width:100%;
    background-color: #808080;
}

#parentsCategory a{
    float: left;
    padding: 0.5em;
    text-align: center;
    margin: 0px;
    width:100%;
    background-color: #808080;
    
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    transition: 400ms;
}
#parentsCategory a:hover{
    background-color: #A0A0A0;
    letter-spacing: 3px;
    
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    transition: 400ms;
}
#categoryList{
    overflow:auto;
    width:100%;
    height:100%;
    max-width: 1100px;
    margin: auto;
    padding: auto;
}
#categoryList a{
    display: flex;
    justify-content: center;
    padding: 1em;
    margin: 3em;
    float: left;
    width: 9em;
    height: 9em;
    border-radius: 6em;
    align-items: center;
    background: #303030;
    text-align: center;
    
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    transition: 400ms;
    
}
#categoryList a:hover{
    background-color: #A0A0A0;
    border-radius: 0.5em;
    
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    transition: 400ms;
}
#whitespaces {
    height: 100%;
}
tr{
    width: 250px;
    display: inline-block;
}
td{
    border: none;
}